body { padding-top: 50px; font-family: sans-serif; font-size: 12px; background-color: #f5f5f5 !important;  }
.dash-button { width: 200px; height: 200px; margin: 5px; }
.dash-button h3 { text-align: left; color: #fff; font-weight: bold; }
.dash-button h3:hover { text-decoration: underline; }
.dash-button-kpi { background-color: #5cb85c; } 
.dash-button-agency {background-color: #428bca; } 
.dash-button-effective { background-color: #5bc0de; } 
.dash-button-graph { background-color: #f0ad4e; } 
.dash-button-load { background-color: #6E6E6E; } 

.sub-nav>li>a { padding-left: 40px; }

.nav>li>a:hover, .nav>li>a:focus { text-decoration: none; background-color: #428bca; color: #fff; }

#load-bar { display: none; }
#load-anim { display: none; }

.filter-btn { padding-top: 10px; padding-bottom: 10px; }

.menu-title {
border-bottom: 1px solid #428bca;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 20px;
color: #428bca;
cursor: pointer;
}

/*.menu-title:after {
content: ">";
float: right;
margin-right: 10px;
}*/

.menu-title:hover {
background-color: #428bca;
color: #fff;
}

.menu-list {display: none;}

.nav > div > li {
  position: relative;
  display: block;
}
.nav > div > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > div > li > a:hover,
.nav > div > li > a:focus {
  text-decoration: none;
  background-color: #428bca;
  color: #fff;
}
.nav > div > li.disabled > a {
  color: #999;
}
.nav > div > li.disabled > a:hover,
.nav > div > li.disabled > a:focus {
  color: #999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav > div > li > a > img {
  max-width: none;
}

.p { cursor: pointer;}

.table td { background-color: #fff !important; }

.table th { background: url(../img/boxheader.gif) top/100% 100% repeat-x; }

.table { margin-top: 65px; }

.tagents { font-size: 11px; }

.aright {
  text-align: right;
}

.aleft {
  text-align: left;
}